<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://demo.redhat.com" target="_blank">
        <img src="{{uiRootPath}}/img/demo.jpg" height="60px" alt="Red Hat Demo Platform">
      </a>
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}" target="_blank">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
       
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">About Workshop</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="index.html">Getting Started</a>
            <a class="navbar-item" href="02-agenda.html">Agenda</a>
            <a class="navbar-item" href="03-introduction.html">Workshop Introduction</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Hands-On</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="04-solution-1.html">Product Manager - Monitoring System</a>
            <a class="navbar-item" href="05-solution-2.html">Admin - Connecting ChatOps</a>
            <a class="navbar-item" href="06-solution-3.html">Product Manager - Constructive Decisions</a>
            <a class="navbar-item" href="07-challenge.html">Challenge Lab (Optional)</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Product Pages</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.redhat.com/en/technologies/management/ansible" target="_blank">Red Hat Ansible Automation Platform</a>
            <a class="navbar-item" href="https://www.redhat.com/en/technologies/management/ansible/event-driven-ansible" target="_blank">Red Hat Event-driven Ansible</a>
            <a class="navbar-item" href="https://developers.redhat.com/learn?ref=webconsole" target="_blank">Red Hat OpenShift</a>
            <a class="navbar-item" href="https://developers.redhat.com/topics/kafka-kubernetes" target="_blank">Apache Kafka on Kubernetes</a>
            <a class="navbar-item" href="https://www.redhat.com/en/resources/amq-streams-datasheet" target="_blank">Red Hat AMQ Streams</a>
          </div>
        </div>
       

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Articles</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://medium.com/@miteshget/event-driven-ansible-the-simple-way-to-automate-your-it-processes-3f7bfa57cb9e" target="_blank">Event-Driven Automation</a>
            <a class="navbar-item" href="https://medium.com/@ritz.shah/rocket-chat-setup-configuration-and-working-in-an-openshift-k8s-environment-3b418a3e48c7" target="_blank">Rocket Chat Setup<br>Configuration and Working<br>in an OpenShift</a>
            <a class="navbar-item" href="https://redhat-solution-patterns.github.io/solution-pattern-sentiment-analysis/solution-pattern-sentiment-analysis/index.html" target="_blank">Solution Patterns:<br>Event-Driven Sentiment<br>Analysis with Kafka<br>and AI/M</a>
          </div>
        </div>
        
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Videos</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.youtube.com/watch?v=Bt2tZB_5F2U&list=PLdu06OJoEf2a3fFl6uaoyGV526ilwD97R" target="_blank">Event-driven Ansible</a>
            <a class="navbar-item" href="https://www.youtube.com/watch?v=6MjYPrlOiQA" target="_blank">Event-driven Ansible<br>and Lightspeed</a>
            <a class="navbar-item" href="https://www.youtube.com/watch?v=1mj_nfgY40E&t=209s" target="_blank">OpenShift + Ansible:<br>Event-Driven PVC<br>Snapshots Made Easy</a>
            <a class="navbar-item" href="https://www.youtube.com/watch?v=yfXcGB7l0II" target="_blank">Ansible Lightspeed<br>with IBM Watson<br>Code Assistant</a>
          </div>
        </div>
        <a class="navbar-item" href="#">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</a>


      </div>
    </div>
  </nav>
</header>